@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

.project-detail-card {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #c1c7d0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.modal-main {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.modal-description {
  width: 530px;
}

.modal-tech {
  text-align: end;
  padding-right: 10px;
}

.project-lists {
  display: flex;
  list-style-type: none;
  gap: 8px;
}

.list {
  list-style: none;
  background: #ebebff;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 0 2px;
  font-size: 14px;
  border-color: #396df2;
  color: #396df2;
}

.click-btn {
  font-size: 15px;
  color: #396df2;
  padding: 9px;
  background-color: transparent;
  margin-top: 2rem;
  border: 1px solid #396df2;
  border-radius: 6px;
  text-decoration: none;
  margin-right: 0;
}

.click-btn a {
  list-style-type: none;
  text-decoration: none;
}

#close-popUp {
  display: flex;
  justify-content: end;
  padding-right: 20px;
  padding-top: 20px;
}

.modal-image {

}

.modal-prof {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}